{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="card text-white bg-dark mb-5 opacity-75" style="margin-left:auto;margin-right:auto;">
    <h3 class="card-header mx-auto">{{ current_user.first_name + '\'s Notes' }}</h3>
    <div class="card-body">
{% if user.notes %}
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item"><p class="text-end"><span class="text-warning-emphasis"> {{ convert_utc_to_local(note.date).strftime('%b %-d, %Y %-I:%M %p') }} </span>
        <button type="button" class="close ms-2 float-md-end btn btn-danger" onclick="javascript:return confirm('Confirm Note deletion') && deleteNote('{{ note.id }}')">
            <span aria-hidden="true">&times;</span>
        </button></p><p class="text-start">{{ note.data }} </p>
    </li>
    {% endfor %}
  </ul>
{% else %}
<p>You have no notes yet.</p>
{% endif %}
    </div>
</div>
<div class="card text-white bg-dark opacity-75" style="margin-left:auto;margin-right:auto;">
    <h3 class="card-header mx-auto">{{ current_user.first_name + '\'s Notepad' }}</h3>
    <div class="card-body">
    <h5 class="card-title">Create A Note</h5>
  <form method="POST">
      <div class="mb-3">          
          <textarea class="form-control" id="note" name="note" rows="6"></textarea>
      </div>      
      <button type="submit" class="btn btn-primary">Add Note</button>
  </form>
    </div>
</div>
{% endblock %}